* {
    box-sizing: border-box;
}

:root {
    --ui-color:whitesmoke;
  }

.Player {
    width: 80%;
    height: 90%;
    background-color: #443d7c;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 21px 1px rgba(255,255,255,1);
}

.Left {
    border-radius: 8px;
    /* width: calc(100% - 260px); */
    width: 65%;
    height: 100%;
    background-color: #443d7c;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    align-items: center;
}

.Right {
    border-radius: 8px;
    /* min-width: 260px; */
    width: 35%;
    /* height: 100%; */
    overflow: auto;
    background-color: #443d7c;
    display: flex;
    flex-direction: column;
    border-left: 1px solid whitesmoke;
}

.AlbumImg {
    width: 40%;
    height: auto;
    margin-top: 4%;
}

.TrackLength {
    margin: 4% 0;
    width: 90%;
    height: 4px;
    border-radius: 8px;
    background-color: whitesmoke;
    flex: -1;
    position: relative;
    display: flex;
    /* flex-basis: 100%; */
    /* transition: height 0.3s; */
    cursor: ew-resize;
}

.TrackLengthFilled {
    width: 100%;
    background: black;
    flex: 0;
    border-radius: 8px;

  /* esto es lo que actualiza para la barra */
     flex-basis: 0%;
}

.Controls {
    /* background-color: floralwhite; */
    display: flex;
    justify-content: center;
    
}

.fas {
    margin-right: 20px;
    font-size: 26px;
    color: whitesmoke;
    cursor: pointer;
}

.fas:last-of-type {
    margin-right: 0;
}

.inactiveBtn {
    display: none;
}

h2, h3 {
    margin: 0;
    padding: 0;
    color: var(--ui-color);
}

h2 {
    margin-top: 10px;
}

.Card {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #443d7c;
    /* overflow: auto; */
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}

.Card img {
    height: 70px;
    margin-left: 5%;
}

.CardTitle {
    /* background-color: floralwhite; */
    margin: 0 auto;  
    height: auto;
    padding: 0 5%;
    text-align: center;
    color: var(--ui-color);
}

.CardTitle h4 {
    margin: 0;
    margin-top: 10%;
    padding-right: 5%;
}

.Loading {
    color: whitesmoke;
    margin: 50% auto;
}

@media (max-width: 770px) {

    .Card img {
        height: 50px;
    }

    .CardTitle h4 {
        font-size: 14px;
    }

    .CardTitle h5 {
        font-size: 12px;
    }
    
}

@media (max-width: 640px) {

    .Left {
        width: 55%;
    }

    .Right {
        width: 45%;
    }

    .fas {
        font-size: 20px; 
    }
}

@media (max-width: 510px) {

    .fas {
        font-size: 16px; 
    }

    .TrackLength {
        margin: 10% 0;
    }

    h2 {
        font-size: 16px; 
    }

    h3 {
        font-size: 14px; 
    }
}

@media (max-width: 420px) {
    
    .fas {
        margin-right: 10px;
    }
    
    .Card img {
        height: 35px;
    }

    .CardTitle h4 {
        font-size: 12px;
    }

    .CardTitle h5 {
        font-size: 10px;
    }

}
/* 
@media (max-width:370px) {
    
    .fas {
        font-size: 14px; 
    }

    h2 {
        font-size: 14px; 
    }

    h3 {
        font-size: 12px; 
    }
} */

/* height media queries */
/* 
@media (max-height: 450px){

    .AlbumImg {
        width: auto;
        height: 30%;
        margin-top: 4%;
    }
    
}

@media (max-height: 388px){

    .AlbumImg {
        width: auto;
        height: 80px;
        margin-top: 4%;
    }

    .fas {
        font-size: 14px; 
    }

    h2 {
        font-size: 14px; 
    }

    h3 {
        font-size: 12px; 
    }
}

@media (max-height: 230px){

    .AlbumImg {
        width: auto;
        height: 30%;
        margin-top: 4%;
    }

    .fas {
        font-size: 16px;
    }

} */

@media (max-width: 380px) {

        
    .Player {
        width: 80%;
        height: 90%;
        flex-direction: column;
        margin: 5% 0;
    }

    .Left {
        width: 100%;
        height: 30%;
    }

    .Right {
        width: 100%;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 1px rgba(255,255,255,1);
        margin-top: 20px;
    }


    .fas {
        margin-right: 20px;
        font-size: 22px;
    }

    .Card img {
        height: 60px;
        margin-left: 5%;
    }

}
